* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: green; 
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -30px;
}

.header-inner {
    background-color: black; 
    margin-top: 20px;
    width: 95%;
    height: 40px;
}

.main-content {
    display: flex;
    flex: 1;
    background-color: purple; 
    padding: 15px 10px 10px 15px; 
    margin-top: 20px;
}

.main-section {
    background-color: lightcoral; 
    flex: 3;
    padding: 20px;
    margin-left: 10px;
}

.sidebar {
    background-color: goldenrod; 
    flex: 1;
    padding: 20px;
    margin-left: 10px;
}

.footer {
    background-color: orangered; 
    padding: 20px;
    text-align: center;
}

@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
    }

    .sidebar {
        order: -1;
    }
}
